- name: Deploy to VPS
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.VPS_HOST }}
    username: ${{ secrets.VPS_USER }}
    key: ${{ secrets.VPS_SSH_KEY }}
    key_format: base64
    port: 22
    debug: true
    script: |
      cd /var/www/alanxa.ai

      git reset --hard
      git pull origin main

      cd server
      npm install
      pm2 restart alanxa-api || pm2 start index.js --name alanxa-api

      cd ../client
      npm install
      npm run build

      systemctl reload nginx
